.carte-intro > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://exybore.github.io/img/code.jpg') center / cover;
}
.carte-intro > .mdl-card__menu {
  color: #fff;
}

.principal-layout {
  background: url('https://exybore.github.io/img/back.jpg') center / cover;
}
.principal-layout .mdl-layout__header,
.principal-layout .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/*.exy-navigation__infos {
  background-color: #CCCCCC;
  position: relative;
  top: -16px;
  color: #FFF;
}

.exy-navigation__infos > img {
  width: 60px;
  height: 60px;

  margin-left: 10px;
  margin-top: 20px;

  border-radius: 50px;
}

div.mdl-layout__drawer {
  background-color: #CCCCCC;
}*/

button.exy-tool__spaced {
  margin-left: 10px;
  margin-right: 10px;
}

img.exy-tool__avatar {
  width: 36px;
  height: 36px;

  border-radius: 50px;
}

.exy-actions__connect {

  margin-left: 10px;
}

a.exy-tool__no-style-link {
  color: inherit;
  text-decoration: none;
}

.exy-tool__center {
  text-align: center;
}
.exy-tool__left {
  text-align: left;
}
.exy-tool__right {
  text-align: right;
}
.exy-tool__justify {
  text-align: justify;
}


.exy-tool__bold {
  font-weight: bold;
}
.exy-tool__underline {
  text-decoration: underline;
}
.exy-tool__italic {
  font-style: italic;
}
.exy-tool__oblic {
  font-style: oblique;
}
.exy-tool__line-through {
  text-decoration: line-through;
}
.exy-tool__overline {
  text-decoration: overline;
}


.exy-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
